body {
    font-family: san-sherif;
    background-color: #C5E1A5;
  }
  .bb {
    text-align: center;
  }
  .container {
    margin-top: 100px;
    text-align:center;
    background-color: #eeeeee;
  }
  hr {
    border-color:white;
    display: block;
    border-width: 2px;
  }
  .heading {
    background-color:#00796B;
    padding-top: 20px;
    color:white;
    text-align: center;
  }
  